*{
    font-family: 'Inter';
}

header{
    top: 0;
    left: 0;
    right: 0;
    height: 13vh;
    z-index: 100;
    /* background: transparent scroll; */
    background-color: #121e2bf7;
    box-shadow: #23262c 0px 2px 10px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    color: aliceblue;
}
body{
    background:linear-gradient(250deg,#153960 10%, #0b1c2ef7 20%, #070c11f7 50%) ;
}
.main{
    height: 1000vh;
}
.menu{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    font-size: 1.3em;
    color: aliceblue;
}
.menu h5{
    cursor: pointer;
}
.callme-box{
    display: flex;
    background-color: rgb(244, 179, 51);
    height: 50%;
    width: 120px;
    padding: 0 1em;
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    cursor: pointer;
}
.content-1{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    /* background:linear-gradient(180deg,#153960 10%, #121c26f7 40%, #121e2bf7 30%); */
    width: 100%;
    height: 100vh;
}

.content-1 h1{
    font-size: 6em;
    color: aliceblue;
    margin-bottom: 0;
    font-weight: 750;
}
.content-1 p{
    font-size: 1.3em;
    color: rgb(164, 165, 168);
}
.button-content-1{
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    margin-top: 1.5em;
}
.button{
    width: 200px;
    height: 50px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(244, 179, 51);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}
.button a{
    padding: 0.7em 1.5em;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 600;
}
.content-2{
    display: flex;
    margin: 2em 3em;
    margin-top: 10em;
    gap: 4em;
    padding: 2em 5em;
}
.content-2 h2{
    color: aliceblue;
    font-size: 2em;
    font-weight: 600;
}
.image{
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    box-shadow: rgba(3, 31, 109, 0.452) 2px 2px 20px, rgb(1, 90, 115) -2px -2px 20px;
}
.text-content-2{
    display: flex;
    flex-direction: column;
    margin: 0;
    color: #b4b4b4;
}
.sosmed{
    display: flex;
    gap: 1.5em;
    margin-top: 1em;
}